<html>
	<head>
		<title>Upload a Photo</title>
	</head>

   <body>
	Upload a Photo <br><br>
	<form action="uploadPhoto" method="post" enctype="multipart/form-data">
		
			<label> Title: </label> <br>
			<input type = "text" name = "title" > <br>
		
			<label> Description: </label> <br>
			<input type = "text" name = "description"> <br>
		
			<label> Photo </label> <br>
			<input type="file" name="filetoupload"><br>
        	<input type="submit" value="submit"><br>
		
	</form>


   </body>
</html>